.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-end{
    justify-content: end;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: start;
}

.col-8{
    width: 8/12;
}
.col-6{
    width: 12/12;
}
.col-4{
    width: 4/12;   
}

.mt-8{
    margin-top: 44px;
}
.mt-8{
    margin-top: 11px;
}
.mr-4{
    margin-right: 22px;
}
.px-2{
    padding-left: 22px !important;
    padding-right: 22px !important;
}
.py-1{
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

.p-list-item{
    padding: 12px 18px ;
}
.item-border{
    border: 2px;
    border-style: solid;
    border-color: blue;
    border-radius: .6rem;
}

.btn-base{
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-style: none;
    border-radius: .6rem;
}
.btn-danger{
    background-color: indianred;
    }

.btn-success{
    background-color: darkseagreen;
}
.color-yellow{
    color: yellow;
    fill: yellow;
}
.bg-grey{
    background-color: #e3f3f3;
}
.no-list-style{
    list-style: none;
}

